<!DOCTYPE html>
<html lang="es">
<head>
    <title>PRUEBA</title>
</head>
<body>
{% for seccion in secciones %}
<div class="seccion">
    {% for cont in seccion.content %}
    <h1>{{cont.title}}</h1>
    <ul id="entrada">
        <li>{{ cont.loc }}</li>
        <li>{{ cont.institution }}</li>
        <li>{{ cont.start }}</li>
        <li>{{ cont.end }}</li>

    </ul>
    {% endfor %}
</div>
{% endfor %}

</body>
</html>